<script lang="ts" setup>
  import './styles/main.css'
</script>

<template>
  <main class="bg-gray-50 min-h-screen">
    <Html>
      <Head>
        <Link rel="icon" href="/favicon.svg" />
      </Head>
    </Html>

    <NuxtPage />
  </main>
</template>

