.c-button {
    @apply inline-flex items-center;
    @apply py-3 px-6;
    @apply border-2 border-transparent rounded-md;
    @apply text-base font-semibold;
    @apply transition-colors duration-300;

    &--primary {
        @apply text-white bg-primary border-primary hover:bg-white hover:text-primary;
    }

    &--white {
        @apply text-primary bg-white border-primary hover:bg-primary hover:text-white;
    }
}
