<script setup lang="ts">
  import { RepositoryPreview } from '~/types'
  import { formatDate } from '~/utils/helpers/date'

  const props = defineProps<{
    item: RepositoryPreview,
  }>()

  const router = useRouter()
  const dateString = computed(() => formatDate(props.item.createdAt))
  const nameWithOwner = computed(() => `${props.item.owner.login}/${props.item.name}`);

  const navigate = () => {
    return router.push(`/repositories/${nameWithOwner.value}`)
  }
</script>

<template>
  <tr
    class="cursor-pointer transition-colors hover:text-gray-900 hover:bg-gray-50 focus:text-white focus:bg-primary"
    tabindex="0"
    @click="navigate"
    @keydown.enter="navigate"
  >
    <DatatableColumn v-text="nameWithOwner"/>
    <DatatableColumn v-text="item.stargazerCount"/>
    <DatatableColumn v-text="item.primaryLanguage?.name || '-'"/>
    <DatatableColumn v-text="dateString"/>
  </tr>
</template>
