<script setup lang="ts">
  import {
    DatatableColumn,
    PaginatedRepositoriesResponse,
    RepositoryField,
    RepositoryPreview,
    Sort,
  } from '~/types'
  import { useFetch } from '@vueuse/core';
  import { translate } from '~/utils/helpers';
  import { useRepositoryStore } from '~/stores/repository';
  import useDatatable, { FetchPaginationResult } from '~/composables/datatable';

  const repositoryStore = useRepositoryStore();

  const username = ref(repositoryStore.searchUsername);

  const getFetchUrl = ({ username, sort, cursor = null }: { username: string, sort?: Sort, cursor?: string | null }) => {
    const searchParams = new URLSearchParams({
      username,
      cursor: cursor || '',
      orderByField: sort?.field || '',
      orderByDirection: sort?.direction || '',
    });

    return `/api/repository/get-by-username?${searchParams}`;
  }

  const url = ref(getFetchUrl({ username: username.value }));

  const { execute, data } = await useFetch<PaginatedRepositoriesResponse>(url, {
    immediate: false,
  }).json()

  const fetchPaginationResult: FetchPaginationResult<RepositoryPreview> = async ({ sort, cursor }) => {
    url.value = getFetchUrl({
      username: username.value,
      sort,
      cursor,
    });

    await execute();

    repositoryStore.setSearchUsername(username.value);

    return data.value;
  }

  const {
    error,
    pageInfo,
    isLoading,
    isInitialized,
    items,
    totalCount,
    fetchItems,
    loadMore,
    sort,
    toggleSort,
  } = useDatatable<RepositoryPreview>({
    fetchPaginationResult,
  });

  const totalString = computed(() => {
    return translate('repository.search.total')
      .replace('{count}', totalCount.value)
      .replace('{username}', repositoryStore.searchUsername)
  })

  const columns: DatatableColumn[] = [
    {
      id: RepositoryField.NAME,
      title: translate('repository.columns.name'),
      sortable: true,
    },
    {
      id: RepositoryField.STARGAZERS,
      title: translate('repository.columns.stars'),
      sortable: true,
    },
    {
      id: RepositoryField.LANGUAGE,
      title: translate('repository.columns.language'),
      sortable: false,
    },
    {
      id: RepositoryField.CREATED_AT,
      title: translate('repository.columns.created_at'),
      sortable: true,
    },
  ];

  const handleSubmit = async () => {
    fetchItems();
  }

  fetchItems();
</script>

<template>
  <div class="py-10 px-4 max-w-5xl mx-auto">
    <form @submit.prevent="handleSubmit" class="flex items-end space-x-2 mb-6">
      <div class="flex flex-col">
        <label
          for="username"
          v-text="translate('repository.search.fields.username.label')"
          class="font-semibold text-sm text-gray-900 mb-1"
        />
        <input
          id="username"
          v-model="username"
          :placeholder="translate('repository.search.fields.username.placeholder')"
          type="search"
          autocomplete="false"
          class="px-4 py-2 h-12 w-64 border rounded border-gray-200 focus:outline-none focus:border-primary"
        >
      </div>

      <button
        class="c-button c-button--primary px-3 py-1.5 h-12"
        type="submit"
        v-text="translate('repository.search.submit_button')"
      />
    </form>

    <div>
      <div v-if="items.length" v-text="totalString" class="text-gray-900 font-semibold mb-4"></div>

      <Datatable v-bind="{ data: items, columns, isInitialized, isLoading, loadMore, sort, toggleSort }">
        <template v-slot:row="{ item }">
          <RepositoryDatatableRow :item="item"/>
        </template>

        <template v-slot:empty>
          {{ error }}
        </template>
      </Datatable>
    </div>
  </div>
</template>
