<script setup lang='ts'>
  import { translate } from '~/utils/helpers'
  import { DatatableColumn, Sort } from '~/types'
  // import { DatatableProps } from '~/types'
  type DatatableProps<T = any> = {
    data: T[];
    columns: DatatableColumn[];
    isLoading: boolean;
    isInitialized: boolean;
    sort: Sort,
    toggleSort: (column: DatatableColumn) => void;
    loadMore?: () => void;
  }
  const props = defineProps<DatatableProps>();

  const bottom = ref<HTMLDivElement | null>(null);

  const colspan = computed(() => props.columns.length);

  watchEffect(() => {
    if (bottom.value) {
      const bottomReachedObserver = new IntersectionObserver(([e]) => {
        e.isIntersecting && props.loadMore && props.loadMore();
      });
      bottomReachedObserver.observe(bottom.value);
    }
  })
</script>

<template>
  <div>
    <div
      v-if="isInitialized"
      :class="`shadow overflow-auto border-b border-gray-200 sm:rounded-lg transition-opacity`"
    >
      <table class="min-w-full divide-y divide-gray-200 text-left">
        <thead class="bg-primary-500">
        <tr>
          <DatatableHeadingColumn
            v-for="column in columns"
            :key="column.id"
            :column="column"
            :sort="sort"
            @toggle:sort="toggleSort"
          />
        </tr>
        </thead>
        <tbody class="bg-white text-gray-500 divide-y divide-gray-200">
        <template
          v-for="item in data"
          :key="item"
        >
          <slot
            name="row"
            :item="item"
          />
        </template>

        <tr v-if="!data.length">
          <td :colspan="colspan" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <slot name="empty">
              {{ translate('datatable.default_empty_state') }}
            </slot>
          </td>
        </tr>
        </tbody>
      </table>

      <div v-if="loadMore" ref="bottom"></div>
    </div>

    <IconSpinner v-show="isLoading" class="text-primary w-6 h-6 mx-auto mt-4"/>
  </div>
</template>
