<script setup lang='ts'>
  import { DatatableColumn, Sort, SortDirection } from '~/types'

  type DatatableProps<T = any> = {
    column: DatatableColumn;
    sort: Sort;
  }
  const props = defineProps<DatatableProps>();

  const emit = defineEmits<{
    (e: 'toggle:sort', column: DatatableColumn): void
  }>()

  const handleClick = () => {
    if (!props.column.sortable) {
      return;
    }
    emit('toggle:sort', props.column);
  }
</script>

<template>
  <th
    scope="col"
    :class="`px-6 py-3 text-left text-xs font-semibold text-white uppercase tracking-wider ${
      column.sortable ? 'cursor-pointer transition-colors hover:bg-primary-600' : '' }
    `"
    @click="handleClick"
  >
    <div class="flex items-center space-x-1">
      <span v-text="column.title"></span>

      <span v-if="column.sortable && sort.field === column.id">
        <IconChevronDown
          :class="`w-4 h-4 transition-transform transform ${
            sort.direction === SortDirection.ASC ? 'rotate-180' : ''
          }`"
        />
      </span>
    </div>
  </th>
</template>
