<script setup lang="ts">
  import { CommitPreview } from '~/types'
  import { formatDateTime } from '~/utils/helpers/date'

  const props = defineProps<{
    item: CommitPreview
  }>()

  const dateString = computed(() => formatDateTime(props.item.committedDate))
</script>

<template>
  <tr>
    <DatatableColumn>
      <div
        class="truncate max-w-[150px] sm:max-w-sm"
        :title="item.message"
        v-text="item.message"
      />
    </DatatableColumn>
    <DatatableColumn v-text="item.author?.name || '-'"/>
    <DatatableColumn v-text="dateString"/>
  </tr>
</template>
