<script setup lang="ts">
  import {
    CommitField,
    CommitPreview,
    DatatableColumn,
    PaginatedCommitsResponse,
  } from '~/types'
  import { useFetch } from '@vueuse/core';
  import { translate } from '~/utils/helpers';
  import useDatatable, { FetchPaginationResult } from '~/composables/datatable';
  import { useRepositoryStore } from '~/stores/repository'

  const repositoryStore = useRepositoryStore();
  const route = useRoute()

  const { owner, name } = route.params as { owner?: string, name?: string };

  const searchTerm = ref('');

  const getFetchUrl = ({ cursor = null }: { cursor?: string | null }) => {
    const searchParams = new URLSearchParams({
      owner: owner || '',
      name: name || '',
      cursor: cursor || '',
    });

    return `/api/repository/get-commit-history?${searchParams}`;
  }

  const url = ref(getFetchUrl({}));

  const { execute, data } = await useFetch<PaginatedCommitsResponse>(url, {
    immediate: false,
  }).json()

  const fetchPaginationResult: FetchPaginationResult<CommitPreview> = async ({ cursor }) => {
    url.value = getFetchUrl({
      cursor,
    });

    await execute();

    return data.value;
  }

  const {
    error,
    isLoading,
    isInitialized,
    items,
    totalCount,
    fetchItems,
    loadMore,
    sort,
    toggleSort,
  } = useDatatable<CommitPreview>({
    fetchPaginationResult,
  });

  const totalString = computed(() => {
    return translate('commit.search.total')
      .replace('{count}', totalCount.value)
      .replace('{repository}', `${owner}/${name}`)
  })

  const columns: DatatableColumn[] = [
    {
      id: CommitField.MESSAGE,
      title: translate('commit.columns.message'),
      sortable: false,
    },
    {
      id: CommitField.AUTHOR,
      title: translate('commit.columns.author'),
      sortable: false,
    },
    {
      id: CommitField.DATE,
      title: translate('commit.columns.date'),
      sortable: false,
    },
  ];

  const filteredItems = computed(() => {
    if (!searchTerm.value) {
      return items.value;
    }

    const term = searchTerm.value.toLowerCase();
    return items.value.filter(item =>
      item.message.toLowerCase().includes(term) ||
      item.author?.name.toLowerCase().includes(term));
  })

  const handleSubmit = async () => {
    fetchItems();
  }

  onBeforeUnmount(() => {
    if (!repositoryStore.searchUsername) {
      repositoryStore.setSearchUsername(owner || '')
    }
  })

  fetchItems();
</script>

<template>
  <div class="py-10 px-4 max-w-5xl mx-auto">
    <NuxtLink to="/" class="flex items-center space-x-2 text-sm text-gray-600 mb-6 transition-colors hover:text-primary focus:text-primary">
      <IconArrowLeft class="w-4 h-4"/>

      <span v-text="translate('repository.return_to_repositories')" />
    </NuxtLink>

    <form @submit.prevent="handleSubmit" class="flex items-end space-x-2 mb-6">
      <div class="flex flex-col">
        <label
          for="term"
          v-text="translate('commit.search.fields.term.label')"
          class="font-semibold text-sm text-gray-900 mb-1"
        />
        <input
          id="term"
          v-model="searchTerm"
          :placeholder="translate('commit.search.fields.term.placeholder')"
          type="search"
          autocomplete="false"
          class="px-4 py-2 h-12 w-64 border rounded border-gray-200 focus:outline-none focus:border-primary"
        >
      </div>

      <button
        class="c-button c-button--primary px-3 py-1.5 h-12"
        type="submit"
        v-text="translate('commit.search.submit_button')"
      />
    </form>

    <div>
      <div v-if="items.length" v-text="totalString" class="text-gray-900 font-semibold mb-4"></div>

      <Datatable v-bind="{ data: filteredItems, columns, isInitialized, isLoading, loadMore, sort, toggleSort }">
        <template v-slot:row="{ item }">
          <CommitDatatableRow :item="item"/>
        </template>

        <template v-slot:empty>
          {{ error }}
        </template>
      </Datatable>
    </div>
  </div>
</template>
