<template>
  <svg
    width="24"
    height="24"
    class="animate-spin"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.2"
      d="M12.0002 22.001C17.5232 22.001 22.0005 17.5237 22.0005 12.0007C22.0005 6.47774 17.5232 2.00049 12.0002 2.00049C6.47726 2.00049 2 6.47774 2 12.0007C2 17.5237 6.47726 22.001 12.0002 22.001Z"
      stroke="currentColor"
      stroke-width="2"
    />
    <path d="M22.0002 11.9997C22.0002 6.47739 17.5223 1.99951 12 1.99951" stroke="currentColor" stroke-width="2"/>
  </svg>
</template>
